:root{
  --accent:#6f63ff;
  --bg:#0f1724;
}

/* This CSS sets both the <html> and <body> elements to take 100% of the browser viewport height. */
html,body{height:100%}

body{
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: radial-gradient(#f8fafc, #e0fbfc,#9CCFFF);
  color: #1e293b;
}

.logo{
  display:inline-flex;align-items:center;justify-content:center;width:44px;height:44px;border-radius:8px;background:linear-gradient(135deg,var(--accent),#5ad0ff);font-weight:700;color:#071029
}

.project-card{transition:transform .18s ease, box-shadow .18s ease}
.project-card:hover{transform:translateY(-6px);box-shadow:0 10px 30px rgba(0,0,0,.45)}
.card{background:#F1F5F9;border:0;color:inherit}
.text-muted{color:#9aa4b2}
#formAlert{min-height:2rem}

.navbar{
  background-color:  rgba(156, 207, 255, 0.5);/* light background */
  color: #1e293b; /* dark text */
}

.nav-item .nav-link {
  font-size: clamp(1.5rem, 3vw, 1.5rem); /* responsive font size */
  margin-left: 30px;
} 

.nav-item .nav-link:hover {
  color: #1e293b;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color:#2563eb;
}

.my-header {
  background-color:#ffffff;  
  color: #1e293b;             /* light text */
}

.my-card {
  background-color: #ffffff; /* light background */
  border: 2px solid #2563eb; /* blue border */
  border-radius: 12px; /* rounded corners */
  color: #071029;  
     

}

.btn-primary {
  background-color: #2563eb;
  border-color: #2563eb;
}

.btn-primary:hover {
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

.btn-outline-light {
  border-color: #2563eb;
  color: #2563eb;
}

.btn-outline-light:hover {
  background-color: #1d4ed8;;
  color: white;
}

.text-muted {
    color: #888888; /* soft gray color */
    font-size: 0.95rem; /* slightly smaller text if you want */
    font-weight: 400; /* normal weight */
}

.about-pic {
  width: 150%; 
  height: 500px; 
  object-fit: contain;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}